<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관광지 검색 & 지도</title>
    <link rel="stylesheet" th:href="@{/css/travel.css}" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=557bf66ba4e25d48329cf76b3c0166f5&libraries=services"></script>
</head>
<body>

<div id="main">
    <div id="sidebar">
        <div id="search-bar">
            <input type="text" id="keyword" placeholder="관광지 검색" />
            <button id="search-btn">검색</button>
        </div>
        <div id="list"></div>
    </div>
    <div id="map"></div>
</div>
<script th:src="@{/js/travel.js}"></script>
</body>
</html>
